<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!-- A junior that knows about responsive design should know this tag -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>test</title>
  <link rel="stylesheet" href="/junior/main.v2.css">
</head>

<body>
  <main>
    <nav>
      <ul class="navbar-list">
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">Open sidebar</a>
        </li>
        <li>
          <a href="#">Change theme</a>
        </li>
      </ul>
    </nav>
    <h1>Todos</h1>
    <ul id="list">
      <!-- A junior should know how server side rendering works -->
      <% todos.forEach(function(todo) { %>
        <li>
          <%= todo %>
        </li>
        <% }); %>
    </ul>
    <form id="form">
      <input id="todo-field" type="text" name="search" placeholder="search">
    </form>
  </main>
  <!-- Uses a bundle, aware of modern practices -->
  <script src="/bundle.js"></script>
</body>

</html>