<!DOCTYPE html>
<html lang="en">

<head>
  <title>test</title>
</head>
<!-- Base template to present to junior -->

<body>
  <main>
    <nav>
      <ul>
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">Open sidebar</a>
        </li>
        <li>
          <a href="#">Change theme</a>
        </li>
      </ul>
    </nav>
    <h1>Todos</h1>
  </main>
</body>

</html>