<!DOCTYPE html>
<html lang="en">

<head>
  <title>test</title>
</head>
<!-- Base template to present to a senior -->

<body>
  <main>
    <nav>
      <ul>
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">Open sidebar</a>
        </li>
        <li>
          <a href="#">Change theme</a>
        </li>
      </ul>
    </nav>
    <!-- Seniors have a sidebar as well -->
    <aside>
      <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
      </ul>
    </aside>
    <h1>Todos</h1>
  </main>
</body>

</html>